@use "../layout" as l;

.ResetPassword {
  @include l.plain-canvas();

  &__overlay {
    @include l.overlay(30vw, 57vh, 409px, 353px);
  }
  &__form-side {
    @include l.form-side();
    width: 100%;
  }

  &__form-side h1 {
    margin: 1em 0;
    text-align: center;
    font-size: 28px;
  }

  p {
    margin-bottom: 24px;
    text-align: center;
    font-size: 14px;
    color: rgb(61, 61, 61);
    font-weight: 400;
  }
  &__bottom-section {
    display: flex;
    flex-direction: column;
    p {
      margin: 0;
    }
  }
  .footer-btn {
    @include l.footer-btn(grey);
    align-self: center;
  }

  @media (max-width: 700px) {
    &__overlay {
      padding: 24px 32px;
    }
    &__form-side {
      justify-content: space-between;
      h1 {
        margin-top: 0;
      }
    }
  }
}
