@use "../layout" as l;
.Invoices__main__table {
  width: 100%;
  box-shadow: 2px 2px 10px var(--shadow-color);
  border-radius: 0.8em;
  padding: 0;
  border-spacing: 0;

  th,
  td {
    box-sizing: border-box;
    padding: 0.75em;
    border-right: 1px solid rgba(108, 108, 108, 0.536);
    &:last-child {
      border: none;
    }
  }
  th {
    padding: 1em;
  }
  &__heading {
    background-color: var(--linkedin-blue);
    width: 11.111%;
    color: white;
    font-size: 1em;
    font-weight: 400;
  }
  &__bill-no {
    // width: 12.5%;
    border-top-left-radius: 0.8em;
  }
  &__records {
    background-color: white;
    color: black;
    font-size: 0.85em;
    text-align: center;
    font-weight: 700;
    &__status {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &:last-child {
        border-bottom-right-radius: 0.8em;
      }
      &__info-icon {
        cursor: pointer;
        color: var(--grey-text-color);
      }
      select {
        border: none;
        border-bottom: 2px solid var(--pastel-brown);
        font-weight: 700;
        background-color: inherit;
        &:focus {
          outline: none;
        }
      }
      .select-option {
        font-family: "Nunito", sans-serif;
        font-weight: 700;
      }

      &__overlay {
        width: 300px;
        background-color: var(--linkedin-light-blue);
        color: var(--dark-brown);
        box-shadow: 1px 1px 5px var(--light-blue);
        padding: 1.5em 1em;
        position: absolute;
        right: 30%;
        top: 10%;
        z-index: 10;
        border-radius: 1em;
        &__form-section {
          display: flex;
          flex-direction: column;
        }
        &__close-icon {
          align-self: flex-end;
          margin-bottom: 6px;
          cursor: pointer;
        }
        .submit-btn {
          @include l.button-component();
          margin-bottom: 0;
        }
        .fieldset {
          padding-left: 0.5em;
        }

        .field-input {
          width: 90%;
          box-shadow: 1px 1px 5px var(--shadow-color);
        }
      }
      &__info-overlay {
        width: 280px;
        height: 120px;
        background-color: var(--linkedin-light-blue);
        color: var(--dark-brown);
        box-shadow: 1px 1px 5px var(--light-blue);
        padding: 1.5em 1em;
        position: absolute;
        right: 30%;
        top: 10%;
        z-index: 10;
        border-radius: 1em;
        text-wrap: wrap;
      }
    }

    &:nth-child(even) {
      background-color: var(--light-blue);
    }

    &:nth-child(odd) {
      background-color: white;
    }

    &__bill-no {
      cursor: pointer;
    }

    &__last-record {
      border-bottom-right-radius: 0.8em;
      border-bottom-left-radius: 0.8em;
      &__bill-no {
        border-bottom-left-radius: 0.8em;
        cursor: pointer;
      }

      &__status {
        border-bottom-right-radius: 0.8em;
      }
    }
  }

  // &__bill-total {
  //   width: 12.5%;
  // }
  // &__submitted {
  //   width: 12.5%;
  // }
  // &__ses-no {
  //   width: 12.5%;
  // }
  // &__ses-no {
  //   width: 12.5%;
  // }
  &__status {
    border-top-right-radius: 0.8em;
    .select {
      border: none;
      border-bottom: 2px solid black;
    }
    .select-option {
      font-family: "Nunito", sans-serif;
      font-weight: 700;

      &:focus {
        outline: none;
      }
    }
  }
}
