:root {
  --blue-text-color: rgb(34, 83, 189);
  --grey-text-color: rgb(153, 153, 153);
  --shadow-color: rgba(206, 206, 206, 0.5);
  --lightblue-background: rgb(205, 222, 255);
  --pastel-brown: rgb(149, 130, 129);
  --light-brown: rgb(253, 227, 161);
  --dark-brown: rgb(102, 51, 50);
  --linkedin-blue: rgb(27, 97, 156);
  --linkedin-light-blue: rgb(200, 207, 213);
  --light-blue: rgb(185, 227, 252);
}
